.generaattori {
	line-height: 2;
	padding: 3em 1.5em;
	background-image: linear-gradient(to bottom, white 2em, rgba(0,0,0,0.1) 1px);
	background-size: 100% 2em;
	background-position: 0 1em;
	background-origin: content-box;
	overflow: hidden;
	box-shadow: 0 2px 2px 2px rgba(0,0,0,0.075);
}

.generaattori--item.item {
	list-style: none;
}
