<div class="page-header">

   <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                
                <li>
                    <a href="#">Omat tiedot</a>
                </li>
                <li>
                    <a href="#">Kurssit</a>
                </li>
                <ul>
              <li>
              
                    <a href="#">Ilmoittautumiset</a>
                </li>
                <li>
                    <a href="#">Suoritukset</a>
                </li>
   			</ul>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
        
        <div class="row">
           
         <div id="sivumenu" class="menu-icon"><span class="glyphicon glyphicon-menu-hamburger" style="font-size:1.8em;"></span></div>
                
         <div id="content1" class="col-xs-11"> 
         
         
         <div>
   		 <h1>Opiskelija</h1>
   		   
            <h2>{{ opiskelija.opiskelijanro }}</h2>
            <p>Etunimi: {{ opiskelija.etunimi }}</p>
            <p>Sukunimi: {{ opiskelija.sukunimi }}</p>
            <p>Osoite: {{ opiskelija.osoite }}</p>
   
		</div>
         
         
         
         
         
          </div>
         
          </div>
           <div class="row">
         <div id="content2" class="col-xs-11 col-sm-5 col-md-5"> <h1> Liirum</h1></div>
         <div id="content3" class="col-xs-11 col-sm-5 col-md-5"> <h1> Laarum</h1></div>
 
    </div>
     
 	 <script src="scripts/functions.js" type="text/javascript"></script>
 	 
    </div>
    
	</div>
</div>
