<section class="ilmo">



	
		<h1>
	Ilmoittautuminen
	</h1>
	
		<div class="col-md-2">
			<div class="ostoskori">

				<div ng-repeat="kurssi in toteutukset">
			<h4>{{ kurssi.kurssinNimi }}</h4>
				
						<div class="row">
							<div class="col-lg-6">
							
							<div class="input-group" ng-repeat="n in kurssi.toteutus">
							<span class="input-group-addon">
							
								<input type="radio" name="{{ n.nimi }}" value=" {{n.lisatiedot}}" ng-model="formData.radio"/>
								 {{ n.nimi }}
								 </span>
							</div>			
						</div>
				</div>
				</div>
	
			</div>
		</div>
		

		
		
		
		<div class="col-md-9 col-md-offset-1">
			<table class="table table-bordered">
				<caption>Lukkari</caption>
					<thead>
						<tr>
							<td id="aika">Aika</td>
							<td id="mon">Mon</td>
							<td id="tue">Tue</td>
							<td id="wen">Wen</td>
							<td id="thu">Thu</td>
							<td id="fri">Fri</td>
							<td id="str">Str</td>
							<td id="sun">Sun</td>
						</tr>
					</thead>
					<tbody>
					<tr><td>08:00-08:45</td>
						<td ng-class=" {'toteutus': formData.radio == '1' } "></td><td ng-class=" {'toteutus': formData.radio == '4' } "></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr><td>09:00-09:45</td>
						<td ng-class=" {'toteutus': formData.radio == '1' } "></td><td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr><td>10:00-10:45</td>
						<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr><td>11:00-11:45</td>
						<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr><td>12:00-12:45</td>
						<td></td><td></td><td ng-class=" {'toteutus': formData.radio == '2' } "></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr><td>13:00-13:45</td>
						<td></td><td></td><td ng-class=" {'toteutus': formData.radio == '2' } "></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr><td>14:00-14:45</td>
						<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr><td>15:00-15:45</td>
						<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr><td>16:00-16:45</td>
						<td></td><td></td><td></td><td ng-class=" {'toteutus': formData.radio == '3' } "></td><td></td><td></td><td></td>
					</tr>
					<tr><td>17:00-17:45</td>
						<td></td><td></td><td></td><td ng-class=" {'toteutus': formData.radio == '3' } "></td><td></td><td></td><td></td>
					</tr>
					<tr><td>18:00-18:45</td>
						<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr><td>19:00-19:45</td>
						<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					<tr><td>20:00-20:45</td>
						<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>
					</tbody>
			</table>
		</div>

	
		
	
</section>