<meta charset="utf-8">
<div class="container">
    <span>Ostoskori: </span>
    <button ng-repeat="kurssi_tunnus in ostoskori" ng-click="poista($event)" id="{{kurssi_tunnus}}">{{kurssi_tunnus}}</button><br />
    <button ng-click="tyhjenna()">Tyhjennä ostoskori</button>
    <h1>Kurssit</h1>
    <p>Hakusana: <input ng-model="haku"> Koutusohjelma: 

     <select name="koulutusohjelma" ng-model="koulutusohjelma" ng-options="koulutusohjelma_tunnus for koulutusohjelma_tunnus in koulutusohjelmat">
       <option value="">KAIKKI</option> 
		
    </select>
    <div ng-show="lisaa">
     <div ng-show="(kurssit!=null&&(!kurssit.length==0))&&(kurssit | filter:haku|filter:koulutusohjelma).length">
      
	    <table class="table table-striped">
	    	<thead>
    			<tr>
			      <th>Lisää kurssi</th>
			      <th>Nimi</th>
			      <th>Laajuus</th>
			      <th>Koulutusohjelma</th>
			      <th>Kuvaus</th>
   		 		</tr>
  			</thead>
  			<tbody>
		        <tr ng-repeat="kurssi in kurssit | filter:haku|filter:koulutusohjelma">
			        	<td><button type="button" class="btn btn-success btn-md" id="{{kurssi.tunnus}}" ng-click="toimi($event)">
				            {{ kurssi.tunnus }}
				            </button></td>
			           <td>{{ kurssi.nimi }}</td>
			           <td> {{ kurssi.laajuus }} op</td>
			           <td> {{ kurssi.koulutusohjelma}}</td>
			           <td> {{ kurssi.kuvaus }}</td>
	
		            <!--  
		            <h2>{{ kurssi.nimi }}</h2>
		            <p>Tunnus: {{ kurssi.tunnus }}</p>
		            <p>Laajuus: {{ kurssi.laajuus }} op</p>
		            <p>Kuvaus: {{ kurssi.kuvaus }}</p>
		            -->
				</tr>
			</tbody>
		</table>
		</div>
		</div>
		<div ng-show="(kurssit!=null&&(!kurssit.length==0))&&((kurssit | filter:haku|filter:koulutusohjelma).length==0)">
			<p class="thaku">Ei hakuehtoja vastaavia kursseja</p>
		</div>
		
		 <span>{{virhe}}</span>
	</div>