	<div class="container">
	<div class="row lukkaridiv">
	<div class="col-sm-12" style="float:left;">
	 <div class="table-responsive">
	  <table class="table" style="height:500px;">
	  <tr style="height:7%;">
	<th>Klo</th>
	<th>Maanantai</th>
	<th>Tiistai</th>
	<th>Keskiviikko</th>
	<th>Torstai</th>
	<th>Perjantai</th>
	</tr>
	<tr>
	<th>8-9</th>
	<td id="MA8">Koulua</td>
	<td id="TI8">Koulua</td>
	<td id="KE8">Koulua</td>
	<td id="TO8">Koulua</td>
	<td id="PE8">Koulua</td>
	</tr>

		<tr>
		<th>9-10</th>
	<td id="MA9">Koulua</td>
	<td id="TI9">Koulua</td>
	<td id="KE9">Koulua</td>
	<td id="TO9">Koulua</td>
	<td id="PE9">Koulua</td>
	</tr>

		<tr>
		<th>10-11</th>
	<td id="MA10">Koulua</td>
	<td id="TI10">Koulua</td>
	<td id="KE10">Koulua</td>
	<td id="TO10">Koulua</td>
	<td id="PE10">Koulua</td>
	</tr>

			<tr>
			<th>11-12</th>
	<td id="MA11">Koulua</td>
	<td id="TI11">Koulua</td>
	<td id="KE11">Koulua</td>
	<td id="TO11">Koulua</td>
	<td id="PE11">Koulua</td>
	</tr>

			<tr>
			<th>12-13</th>
	<td id="MA12">Koulua</td>
	<td id="TI12">Koulua</td>
	<td id="KE12">Koulua</td>
	<td id="TO12">Koulua</td>
	<td id="PE12">Koulua</td>
	</tr>
			<tr>
				<th>13-14</th>
		<td id="MA13">Koulua</td>
		<td id="TI13">Koulua</td>
		<td id="KE13">Koulua</td>
		<td id="TO13">Koulua</td>
		<td id="PE13">Koulua</td>
	</tr>
			<tr>
				<th>14-15</th>
		<td id="MA14">Koulua</td>
		<td id="TI14">Koulua</td>
		<td id="KE14">Koulua</td>
		<td id="TO14">Koulua</td>
		<td id="PE14">Koulua</td>
	</tr>
	  </table>
</div> <!--table-responsive -->
</div> <!--col-sm-6 -->
</div> <!--row-->
<div class="row kalenteridiv">
<div class="col-sm-12" style="float:right;">

<div class="table-responsive">
	  <table class="table kalenteri">
	  <tr>
	<th colspan="1"  class="toukokuu" style="border-top:1px solid black; border-left:1px solid black"><span class="glyphicon glyphicon-chevron-left"</span></th>
	<th colspan="5"   class="toukokuu" style="border-top:1px solid black;">Toukokuu</span></th>
	<th colspan="1"  class="toukokuu" style="border-top:1px solid black; border-right:1px solid black"><span class="glyphicon glyphicon-chevron-right"></th>
	</tr>
	<tr>
	<th class="viiva">Ma</th>
	<th class="viiva">Ti</th>
	<th class="viiva">Ke</th>
	<th class="viiva">To</th>
	<th class="viiva">Pe</th>
	<th class="viiva">La</th>
	<th class="viiva">Su</th>
	</tr>

	<tr>
	<td class="moi">27</td>
	<td class="moi">28</td>
	<td class="moi">29</td>
	<td class="moi">30</td>
	<td>1</td>
	<td>2</td>
	<td class="sunnuntai">3</td>
	</tr>

	<tr>
	<td>4</td>
	<td>5</td>
	<td>6</td>
	<td>7</td>
	<td>8</td>
	<td>9</td>
	<td class="sunnuntai">10</td>
	</tr>

	<tr>
	<td>11</td>
	<td>12</td>
	<td>13</td>
	<td>14</td>
	<td>15</td>
	<td>16</td>
	<td class="sunnuntai">17</td>
	</tr>

	<tr>
	<td>18</td>
	<td>19</td>
	<td>20</td>
	<td>21</td>
	<td>22</td>
	<td>23</td>
	<td class="sunnuntai">24</td>
	</tr>

	<tr>
	<td>25</td>
	<td>26</td>
	<td>27</td>
	<td>28</td>
	<td>29</td>
	<td>30</td>
	<td class="sunnuntai">31</td>
	</tr>
	  </table>
</div> <!--table-responsive -->
</div> <!--col-sm-12 -->
</div> <!-- row -->

<div class="row tiedotediv">
<div class="col-sm-12" style="float:right;">
<div class="divi2">
	<h4>Tiedotteet</h4>
<ul class="tiedotelista">
<li>Tiedote 1</li>
<li>Tiedote 2</li>
<li>Tiedote 3</li>
</ul>
</div>
</div>
</div>
</div>

    </div> <!-- container -->


