	<div class="container">
	<div class="row lukkaridiv">
	<div class="col-sm-12">
	 <div class="table-responsive">
	  <table class="table lukkari" style="height:500px;">
	  <tr style="height:7%;">
	<th>Klo</th>
	<th>Maanantai</th>
	<th>Tiistai</th>
	<th>Keskiviikko</th>
	<th>Torstai</th>
	<th>Perjantai</th>
	</tr>
	<tr>
	<th>8-9</th>
	<td id="MA8"> {{ lukkari[0].nimi }}</br>{{ lukkari[0].aika }}</br>{{ lukkari[0].tunnus }}</td>
	<td id="TI8"></td>
	<td id="KE8"></td>
	<td id="TO8"></td>
	<td id="PE8"></td>
	</tr>

		<tr>
		<th>9-10</th>
	<td id="MA9"></td>
	<td id="TI9"></td>
	<td id="KE9"> {{ lukkari[1].nimi }}<br/>{{ lukkari[1].aika }}</br>{{ lukkari[1].tunnus }}</td>
	<td id="TO9"></td>
	<td id="PE9"></td>
	</tr>

		<tr>
		<th>10-11</th>
	<td id="MA10"></td>
	<td id="TI10"></td>
	<td id="KE10"></td>
	<td id="TO10"></td>
	<td id="PE10"></td>
	</tr>

			<tr>
			<th>11-12</th>
	<td id="MA11"></td>
	<td id="TI11"> {{ lukkari[3].nimi }}<br/>{{ lukkari[3].aika }}</br>{{ lukkari[3].tunnus }}</td>
	<td id="KE11"></td>
	<td id="TO11"></td>
	<td id="PE11"></td>
	</tr>

			<tr>
			<th>12-13</th>
	<td id="MA12"></td>
	<td id="TI12"></td>
	<td id="KE12"></td>
	<td id="TO12"> {{ lukkari[2].nimi }}<br/>{{ lukkari[2].aika }}</br>{{ lukkari[2].tunnus }}</td>
	<td id="PE12"></td>
	</tr>
			<tr>
				<th>13-14</th>
		<td id="MA13"></td>
		<td id="TI13"></td>
		<td id="KE13"></td>
		<td id="TO13"></td>
		<td id="PE13"></td>
	</tr>
			<tr>
				<th>14-15</th>
		<td id="MA14"></td>
		<td id="TI14"></td>
		<td id="KE14"></td>
		<td id="TO14"></td>
		<td id="PE14"></td>
	</tr>
	  </table>
</div> <!--table-responsive -->
</div> <!--col-sm-6 -->
</div> <!--row-->

<div class="row kalenteridiv">
<div class="col-sm-12" style="float:right;">

<div class="table-responsive">
	  <table class="table kalenteri">
	  <tr>
	<th colspan="1"  class="toukokuu"><span class="glyphicon glyphicon-chevron-left"></span></th>
	<th colspan="5"   class="toukokuu">Toukokuu</th>
	<th colspan="1"  class="toukokuu"><span class="glyphicon glyphicon-chevron-right"></th>
	</tr>
	<tr>
	<th class="viiva">Ma</th>
	<th class="viiva">Ti</th>
	<th class="viiva">Ke</th>
	<th class="viiva">To</th>
	<th class="viiva">Pe</th>
	<th class="viiva">La</th>
	<th class="viiva">Su</th>
	</tr>

	<tr>
	<td>27</td>
	<td>28</td>
	<td>29</td>
	<td>30</td>
	<td>1</td>
	<td>2</td>
	<td>3</td>
	</tr>

	<tr>
	<td>4</td>
	<td class="asd">5
	<div class="ddd">
	<p>{{ deadline[0].nimi }}<br/>{{ deadline[0].klo }}</p>
	</div></td>
	<td>6</td>
	<td>7</td>
	<td>8</td>
	<td>9</td>
	<td>10</td>
	</tr>

	<tr>
	<td>11</td>
	<td>12</td>
	<td>13</td>
	<td>14</td>
	<td>15</td>
	<td>16</td>
	<td>17</td>
	</tr>

	<tr>
	<td>18</td>
	<td>19</td>
	<td>20</td>
	<td>21</td>
	<td>22</td>
	<td>23</td>
	<td>24</td>
	</tr>

	<tr>
	<td>25</td>
	<td>26</td>
	<td>27</td>
	<td class="asd1">28
	<div class="ddd1">
		<p>{{ deadline[1].nimi }}<br/>{{ deadline[1].klo }}</p>
	</div>
	</td>
	<td>29</td>
	<td>30</td>
	<td>31</td>
	</tr>
	  </table>
</div> <!--table-responsive -->
</div> <!--col-sm-12 -->
</div> <!-- row -->

<script>
$(document).click (function (e) {
    if (e.target != $('.asd')[0]) {
        $('.ddd').hide(1000);
    } else {
    $('.ddd').show(1000);
    }
});
</script>
<script>
$(document).click (function (e) {
    if (e.target != $('.asd1')[0]) {
        $('.ddd1').hide(1000);
    } else {
    $('.ddd1').show(1000);
    }
});
</script>



<div class="row tiedotediv">
<div class="col-sm-12" style="float:right;">
<div class="divi2">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          
          <div class="container">
            <div class="carousel-caption">
             <p>{{ tiedote[1].pvm }}<br/>{{ tiedote[1].teksti }}</p>
            </div>
          </div>
        </div>
        <div class="item">
      
          <div class="container">
            <div class="carousel-caption">
              <p>{{ tiedote[2].pvm }}<br/>{{ tiedote[2].teksti }}</p>
            </div>
          </div>
        </div>
        <div class="item">
    
          <div class="container">
            <div class="carousel-caption">
              <p>{{ tiedote[0].pvm }}<br/>{{ tiedote[0].teksti }}</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
</div>
</div>
</div>
    </div> <!-- container -->